/////// Config defaults for site colors ///////
// -----------------------------------------------------------------------------
$black: #111111;
$white: #ffffff;

$blue: #00607f;
$red: #B2123E;

/////// Config defaults for site border style ///////
// -----------------------------------------------------------------------------
$base-border-radius: 2px;

/////// Typography configuration ///////
// -----------------------------------------------------------------------------
$base-font-size: 16px;
$small-font-size: 13px;

$base-line-height: 1.1;

$normal-font-weight: 400;
$medium-font-weight: 600;

$base-font-family: "PT Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

/////// Config defaults for buttons ///////
// -----------------------------------------------------------------------------

/////// Form Element configuration ///////
// -----------------------------------------------------------------------------

/////// UI $media breakpoint defaults ///////
// -----------------------------------------------------------------------------
$small-screen: 40em;
$medium-screen: 60em;
$large-screen: 80em;

$screen: "only screen";
$small: "only screen and (min-width: #{$small-screen})";
$medium: "only screen and (min-width: #{$medium-screen})";
$large: "only screen and (min-width: #{$large-screen})";
$landscape: "only screen and (orientation: landscape)";
$portrait: "only screen and (orientation: portrait)";

/////// Site Icons and Images ///////
// -----------------------------------------------------------------------------
$aspect-radio-1-1: 100%;
$aspect-radio-2-1: 50%;
$aspect-radio-1-2: 200%;
$aspect-radio-4-3: 75%;
$aspect-radio-16-9: 56.25%;

$aws-bucket: "https://s3.amazonaws.com/spaceadvocates/";

$stars-image: $aws-bucket + "stars.svg";
$earth-image: $aws-bucket + "earth-horizon-3032x1986.jpg";
$p4n-image: $aws-bucket + "icon-512.png";

/////// Animations ////////
// -----------------------------------------------------------------------------

/////// z-index ////////
// -----------------------------------------------------------------------------

/////// Susy Config ///////
// -----------------------------------------------------------------------------
$susy: (
	columns: 12,
	container: $large-screen,
	global-box-sizing: border-box
);
