// Make sure the charset is set appropriately
// @charset "UTF-8";

// App Config - this is where most of the magic will happen
// -----------------------------------------------------------------------------
@import "config";

// CSS Normalize
// -----------------------------------------------------------------------------
@import "normalize-scss/normalize";

// Vendor Libraries
// -----------------------------------------------------------------------------
@import "susy/sass/susy";
@import "sticky-footer/sticky-footer";

// Web fonts
// -----------------------------------------------------------------------------

// Utils - Helper classes and mixins
// -----------------------------------------------------------------------------
@import "utils/mixins";

// Patches - Custom styling for vendor libraries
// -----------------------------------------------------------------------------

// Scaffolding - Base setup across the site
// -----------------------------------------------------------------------------
@include border-box-sizing;

body {
	font-size: $base-font-size;
	font-family: $base-font-family;
	line-height: $base-line-height;
	color: $white;
}

.container {
	@extend %sticky-footer-container;
	background-color: $blue;
}

header {
	overflow: hidden;
	padding-top: 10em;
	background: url($earth-image) center;
	background-size: cover;
	text-align: center;
	font-size: 2em;

	h1 {
		margin: 0;
		padding: 0.5em 0;
		background-color: rgba($black, 0.3);
	}
}

main {
	@include container;
	padding-top: 2em;

	h1 {
		text-align: center;
		font-size: 2.5em;
	}
}

section {
	@include span(isolate 8 at 3 of 12 break);
	margin-bottom: 2em;

	h2 {
		border-bottom: 2px solid lighten($blue, 10%);
		padding: 0.2em 0;
	}
}

%section-item {
	@include border-radius;
	@include container;
	display: block;
	font-size: 2em;
	padding: 1em;
	margin-bottom: 0.5em;
	background: darken($blue, 10%) url($stars-image) center;
	color: $white;
	text-align: center;
	font-weight: normal;
	text-decoration: none;
}

.tool { @extend %section-item; }

.mission {
	@extend %section-item;
	font-size: 1.2em;
	text-align: left;
}

.call-to-action {
	@extend %section-item;
	position: relative;
	overflow: hidden;

	&::before {
		content: attr(data-step);
		display: block;
		position: absolute;
		left: 0.1em;
		top: 0;
		font-size: 4.5em;
		line-height: 1;
		opacity: 0.2;
	}

	&--title {
		@include span(isolate 8 at 3 of 12 break);
		margin-bottom: 0.2em;
	}
	&--description {
		@include span(isolate 8 at 3 of 12 break);
		font-size: 0.5em;
	}
}

.campaign {
	@extend %section-item;

	.p4n-logo {
		height: 1em;
		width: 1em;
		background: url($p4n-image) no-repeat center;
		background-size: contain;
		display: inline-block;
		vertical-align: bottom;
		font-size: 1.5em;
		margin: -0.2em 0.2em -0.2em 0;
	}
}

// Quarks - These are basic HTML element styles
// -----------------------------------------------------------------------------
h1, h2, h3, h4, h5, h6 {
	margin: 0 0 0.5em 0;
	font-weight: normal;
}

ul, ol {
	margin: 0;
	padding: 0;
}

// Atoms - Combinations of a few quarks, small regions of a view, specific to
// individual tasks
// -----------------------------------------------------------------------------

// Molecules - Combinations of quarks and atoms, medium to large regions of a
// view, not bound to any specific page
// -----------------------------------------------------------------------------

// Templates - Styling for a collection of pages
// -----------------------------------------------------------------------------

// Pages - Page specific styling
// -----------------------------------------------------------------------------
